@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #121c23;
  --card: #1c262d;
  --foreground: #829aae;
  --title: #9fbad0;
  --primaryColor: #10acf4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121c23;
    --card: #1c262d;
    --foreground: #ededed;
    --title: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-bg {
  border: 1px solid #10acf4;
  border-radius: 7px;
}
